SECRET_KEY_BASE=your_secret_key_base_here

SCYLLADB_HOST=scylladb
SCYLLADB_PORT=9042

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_USER=chat
RABBITMQ_PASS=chat
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MEILI_MASTER_KEY=changeme
MEILI_PORT=7700

MINIO_ROOT_USER=chatadmin
MINIO_ROOT_PASSWORD=changeme
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
